# functions

In [ ]:
 #funcion is a set of statments...user defined function..pre defined function..
    #required arguments...default argument...
    #recursive function(repeats itself again and again)
    #generator function(range function).irtative function
#lamba( one line function ..which can be use only once ...na phly use ho ga aur na baad me....no name function
#positional argument(ingredients are fixed..position plays an imp role
#keyword argument(positiion doesnt matter...any thing can come first...not in order.)
#arguments passing with list and dictonary...pass it using *..
#keyword argument is passed through dictonary using **...

In [ ]:
#predefined functions

print("abc")
print(len("asas"))
print(type(22))
print(id("aa"))

In [3]:
#userdefined function

print("pakistan zindabad")
print("we are pakistani")
print("we love our country")

pakistan zindabad
we are pakistani
we love our country

In [8]:
def abc():#function declare

    print("pakistan zindabad")#function body statement#1
    print("we are pakistani")#statment2
    print("we love our country")#statement3
#default function    
abc() #function call 
abc() #function call

pakistan zindabad
we are pakistani
we love our country
pakistan zindabad
we are pakistani
we love our country

In [9]:
#linear programming is faster than functional programming wrt time
abc()
print('aaaa')
print('dfddc')
abc()

pakistan zindabad
we are pakistani
we love our country
aaaa
dfddc
pakistan zindabad
we are pakistani
we love our country

# required arguments

In [19]:
def id_card(sid, sname, fname, course, timing):
    text= """
    PIAIC ISLAMABAD\
    id:{}
    name:{}
    father's name:{}
    cousre:{}
    timing:{}
    """.format(sid,sname,fname,course,timing)
    print(text)
    
id_card(1,"Ali",'hamza','AI','9 to 12')
id_card(12,"Anas",'Amjad','AI','9 to 12')

    PIAIC ISLAMABAD    id:1
    name:Ali
    father's name:hamza
    cousre:AI
    timing:9 to 12


    PIAIC ISLAMABAD    id:12
    name:Anas
    father's name:Amjad
    cousre:AI
    timing:9 to 12

In [22]:
data= [[1,"ANAS","AMjad","AI","9 to 12"],
     [2,"hamza","ali","cloud","9 to 12"],
    [3,"noor","ahmed","nothing","12 to 3"]]
for v in data:
    id_card(*v)#pointer
    #id_card(v[0],v[1],v[2],v[3],v[4])

    PIAIC ISLAMABAD    id:1
    name:ANAS
    father's name:AMjad
    cousre:AI
    timing:9 to 12


    PIAIC ISLAMABAD    id:2
    name:hamza
    father's name:ali
    cousre:cloud
    timing:9 to 12


    PIAIC ISLAMABAD    id:3
    name:noor
    father's name:ahmed
    cousre:nothing
    timing:12 to 3

# optional Arguments

In [25]:
def abc(x, y=0, z=0):#1 required,2 are optional
    print(x,y,z)
    print(x+y+z)
    
abc(5)

5 0 0
5

In [27]:
abc(5,7,8)

5 7 8
20

In [29]:
abc(3,4,5)

3 4 5
12

# non return functions

In [30]:
abc=print("pakistan")
print(abc)

pakistan
None

In [34]:
card=id_card(1,'A',"b","c","d")
print(card)

    PIAIC ISLAMABAD    id:1
    name:A
    father's name:b
    cousre:c
    timing:d

None

# return function

In [43]:
def id_card(sid, sname, fname, course, timing):
    text= """
    PIAIC ISLAMABAD\
    id:{}
    name:{}
    father's name:{}
    cousre:{}
    timing:{}
    """.format(sid,sname,fname,course,timing)
    return text,"Anas","ALi"#return in tuple form

print(*id_card(1,"A",'B','C','D')) #return multiple values   
print(*id_card(1,"A",'B','C','D')[1])#return multiple values (tuple)

    PIAIC ISLAMABAD    id:1
    name:A
    father's name:B
    cousre:C
    timing:D
     Anas ALi
A n a s

In [47]:
def abc(x=0, y=0, z=0):
    print(x*(y+z))
    
abc() 
abc(1)
abc(2,3)
abc(4,5,6)

0
0
6
44

# keyword argument

In [50]:
def id_card(sid, sname, fname, course, timing):
    text= """
    PIAIC ISLAMABAD\
    id:{}
    name:{}
    father's name:{}
    cousre:{}
    timing:{}
    """.format(sid,sname,fname,course,timing)
    return text
    
print(id_card(sname="ANAS",fname="Amjad",sid='007',course='AI',timing='9 to 12'))

    PIAIC ISLAMABAD    id:007
    name:ANAS
    father's name:Amjad
    cousre:AI
    timing:9 to 12

In [ ]:

print(id_card(sname="ANAS",fname="Amjad",sid='007',course='AI',timing='9 to 12'))
#2 postional
#3 keyword arguments

# arugments by list

In [56]:
def id_card(sid, sname, fname, course, timing):
    text= """
    PIAIC ISLAMABAD\
    id:{}
    name:{}
    father's name:{}
    cousre:{}
    timing:{}
    """.format(sid,sname,fname,course,timing)
    return text


l1=[1,"ANAs","amjad","AI","9 to 9"]
    
print(*(l1))
print(l1[0],l1[1],l1[2])

1 ANAs amjad AI 9 to 9
1 ANAs amjad

In [64]:
def id_card(sid, sname, fname, course, timing):
    text= """
    PIAIC ISLAMABAD\
    id:{}
    name:{}
    father's name:{}
    cousre:{}
    timing:{}
    """.format(sid,sname,fname,course,timing)
    return text
    
d1={
    'course':"AI",
    'sname':"ANAs",
    'fname':"Amjad",
    'sid':200,
    'timing':"9 to 9"
}

print(id_card(**d1))# single * for list and double ** for dictoanry

    PIAIC ISLAMABAD    id:course
    name:sname
    father's name:fname
    cousre:sid
    timing:timing

# recursive functions

In [67]:
#fatorial function
def abc(n):
    if n==1:
        return 1
    return n* abc(n-1)
    
    
abc(5)

120

# generator function

In [76]:
def abc():
    for i in range(11):
        yield i #signifance of generator function
        
a=abc()
print(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

print(list(a))

<generator object abc at 0x000001A9FCAB3570>
0
1
2
3
4
5
[6, 7, 8, 9, 10]

# lambda function

In [77]:
def xyz(a,b):
    return a+b

xyz(5,8)

13

In [79]:
xyz =lambda a,b: a + b

xyz(5,7)

12

In [93]:
xy =lambda a,b:a if a>b else b

xy(5,8)

8